body {
    background: lightgrey;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,  "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.imagestyle {
    width:200px;
    max-width: 100%;
}

.card{

    margin: 10px 0;
}

.card-inner{
    padding: 15px;
    color:aliceblue;
    display: inline-block;
    background-color: darkred;
}

.statistics{
    color:aliceblue;
    padding: 25px;
    max-width: 25%;
    background-color:darkred;
    position:fixed;
    left: 0px;
    top:0px;
    z-index: 1;
}

.statistics div {
    margin: 5px;
}